<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{%=o.htmlWebpackPlugin.options.pkg.title %}</title>
        <style>
            .error {
                background-color: red;
            }

            .success {
                background-color: green;
            }
        </style>
    </head>

    <body ng-app="test" ng-strict-di ng-controller="MainController as main">

        <h2>Posts</h2>
        <div ng-repeat="(name, result) in main.posts" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Pages</h2>
        <div ng-repeat="(name, result) in main.pages" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Media</h2>
        <div ng-repeat="(name, result) in main.media" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Types</h2>
        <div ng-repeat="(name, result) in main.types" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Statuses</h2>
        <div ng-repeat="(name, result) in main.statuses" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Taxonomies</h2>
        <div ng-repeat="(name, result) in main.taxonomies" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Terms</h2>
        <div ng-repeat="(name, result) in main.terms" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Users</h2>
        <div ng-repeat="(name, result) in main.users" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Comments</h2>
        <div ng-repeat="(name, result) in main.comments" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        <h2>Custom</h2>
        <div ng-repeat="(entityName, result2) in main.custom">
            {{entityName}}
            <div ng-repeat="(name, result) in result2" ng-class="{'success': result === 'OK', 'error': result === 'FAILED'}">{{name}}</div>
        </div>
        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
        {% } %}
    </body>

</html>
