<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>Webpack App</title>
    </head>

    <body ng-app="wp-api-angularjs.test" ng-controller="MainController">
        <h2>Posts</h2>
        <hr/>
        <button ng-click="getPosts()">Get list
            <small>{{::getPostsStatus}}</small>
        </button>
        <br/>
        <button ng-click="getUncategorizedPosts()">Get Uncategorized list
            <small>{{::getUncategorizedPosts}}</small>
        </button>
        <br/>
        <button ng-click="getPost(188)">Get one
            <small>{{::getPostStatus}}</small>
        </button>
        <br/>
        <button ng-click="createPost()">Create
            <small>{{::createPostStatus}}</small>
        </button>
        <br/>
        <button ng-click="updatePost(188)">Update
            <small>{{::updatePostStatus}}</small>
        </button>
        <br/>
        <button ng-click="removePost(188)">Remove
            <small>{{::removePostStatus}}</small>
        </button>
        <h2>Media</h2>
        <hr/>
        <button ng-click="getMediaList()">Get list
            <small>{{::getMediaListStatus}}</small>
        </button>
        <br/>
        <button ng-click="getMedia(807)">Get
            <small>{{::getMediaStatus}}</small>
        </button>
        <br/>
        <button ng-click="createMedia()">Create
            <small>{{::createMediaStatus}}</small>
        </button>
        <br/>
        <h2>Users</h2>
        <hr/>
        <button ng-click="getUsers()">Get list
            <small>{{::getUsersStatus}}</small>
        </button>
        <br/>
        <button ng-click="getUser(1)">Get one
            <small>{{::getUserStatus}}</small>
        </button>
        <br/>
        <button ng-click="getMe()">Get me
            <small>{{::getMeStatus}}</small>
        </button>
        <br/>
        <button ng-click="createUser()">Create
            <small>{{::createUserStatus}}</small>
        </button>
        <br/>
        <button ng-click="updateUser(1)">Update
            <small>{{::updateUserStatus}}</small>
        </button>
        <br/>
        <button ng-click="removeUser(1)">Remove
            <small>{{::removeUserStatus}}</small>
        </button>
        <h2>Taxonomies</h2>
        <hr/>
        <button ng-click="getTaxonomies()">Get list
            <small>{{::getTaxonomiesStatus}}</small>
        </button>
        <br/>
        <button ng-click="getTaxonomy('category')">Get Category Taxonomy
            <small>{{::getTaxonomycategoryStatus}}</small>
        </button>
        <br/>
        <button ng-click="getTaxonomy('post_tag')">Get Tag Taxonomy
            <small>{{::getTaxonomypost_tagStatus}}</small>
        </button>
        <br/>
        <button ng-click="getTaxonomy('post_format')">Get Format Taxonomy
            <small>{{::getTaxonomypost_formatStatus}}</small>
        </button>
        <br/>
        <button ng-click="getTaxonomyTerms('category')">Get Category Terms
            <small>{{::getTaxonomyTermscategoryStatus}}</small>
        </button>
        <br/>
        <button ng-click="getTaxonomyTerms('post_tag')">Get Tag Terms
            <small>{{::getTaxonomyTermspost_tagStatus}}</small>
        </button>
        <br/>
        <button ng-click="getTaxonomyTerms('post_format')">Get Format Terms
            <small>{{::getTaxonomyTermspost_formatStatus}}</small>
        </button>
        <br/>
        <button ng-click="getTaxonomyTerm('category', 10)">Get Category 10
            <small>{{::getTaxonomyTermcategoryStatus}}</small>
        </button>
        <br/>
        <script src="{%=o.htmlWebpackPlugin.assets.main%}"></script>
    </body>

</html>